.navigation-menu {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .menu {
      padding: 10px 30px;
    }

    .menu:hover {
        color: blue;
        overflow: hidden;
    }
}