@import url("https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css");


// .ui.search.results.message .header.xx {
//     font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
//     font-size: 1rem;
//     font-weight: 700;
//     color: rgba(0,0,0,.87);
// }
.title-text {
    color: #085b96;
    font-family: "Norican" !important;
    font-size: 40px;
    text-align: center;
}


.campaigns-container {
    background: linear-gradient(to bottom right, white, #abdfe6);
    min-height: 100vh;
    height: auto;
    padding-top: 70px;

    .page-indicator {
        width: auto;
        height: auto;
        padding: 10px;
        margin: 10px 10px;
        background-color: #abdfe6;
        opacity: 0.77;

        span {
            margin: 0 10px;
            font-family: 'Glacial Indifference Bold', Arial, sans-serif;
            font-size: 16px;

            &.dashboard-text {
                color: blue;
            }
            &.all-campaigns-text {
                color: red;
                cursor: pointer;
            }
        }
    }

    .search-campaign {
        display: flex;
        justify-content: center;
        margin: 10px;
        padding: 10px;

        .search {
            width: 100% !important;
        }
    }
}


.search-bar * {
    width: 40vw;
    .input{
      width: 100%;
    }
  }