.navigation-menu {
    width: auto;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    .login-container {
        height: 100%;
        padding-right: 20px;

        .profile-container {
            display: flex;
            justify-content: flex-end;

            span {
                font-family: 'Glacial Indifference Bold', Arial, sans-serif;
                font-size: 16px;
            }

            .welcome-text {
                padding: 6px;
            }

            .user-info {
                color: blue;
                padding: 6px;
                cursor: pointer;
            }
            
            .user-profile {
                padding: 10px;
                margin-left: 10px;
                background-color: grey;
                cursor: pointer;
            }
        }

        .logout-container {
            padding: 5px 0px 5px 5px;
            display: flex;
            justify-content: flex-end;

            .logout-button {
                margin-top: 5px;
                cursor: pointer;
                font-family: 'Glacial Indifference Bold', Arial, sans-serif;
                font-size: 16px;

                &:hover {
                    color: blue;
                }
            }
        }
    }
}