@import url("https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css");



.home {
    background-color: #abdfe6;
    height: 100vh;
    padding-top: 70px;

    .content-container {
        width: 100vw;
        height: 100%;
        // padding: 100px;
        background: linear-gradient(to bottom right, white, #abdfe6);
        .center-grid{
            display:flex !important;
            justify-content: center !important;
            align-items: center !important;
            height:100% !important;
            // padding-left:15% !important;
        }

        .text-container {
            h1 {
                font-family: "Lemonada";
            }

            h2 {
                font-family: "Lemonada";
                margin-top: -25px;
            }

            h3 {
                font-family: 'Glacial Indifference Regular';
                margin-top: -10px;
            }
        }

        .button-container {
            width: auto;
            margin-top: 50px;

            .custom-button {
                &:nth-child(1) {
                    background-color: #bd0606;
                    color: white;
                    margin-right: 10px;
                }
                &:nth-child(2) {
                    background-color: #ffc014;
                    color: black;
                }
            }
        }
    }
}

.centered-ele{
    display:flex !important;
    justify-content:center !important;
    align-items:center !important;
}