.home {
    background-color: #abdfe6;
    height: 100vh;
    padding-top: 70px;

    .content-container {
        width: 100%;
        height: 100%;
        padding: 100px;
        background: linear-gradient(to bottom right, white, #abdfe6);

        .text-container {
            h1 {
                font-family: "Lemonada";
            }

            h2 {
                font-family: "Lemonada";
                margin-top: -25px;
            }

            h3 {
                font-family: 'Glacial Indifference Regular';
                margin-top: -10px;
            }
        }

        .button-container {
            width: auto;
            margin-top: 50px;
        }
    }
}