.line{
    width: 100%;
    margin-top: 70px;
    border-bottom: 2px solid black;
    position: fixed;
}

.header {
    width: 100%;
    height: 70px;
    background-color: #abdfe6;
    position: fixed;
    display: flex;
    justify-content: flex-start;

    .logo-container {
        height: 100%;
        width: auto;
        padding: 0 30px;

        .logo {
            height: 100%;
            width: 70px;
            pointer-events: none;
        }
    }

    .title {
        height: 100%;
        width: auto;
        padding-left: 10px;

        span {
            display: block;

            &.e-voting {
                height: 50%;
                font-family: 'Glacial Indifference Bold', Arial, sans-serif;
                font-size: 36px;
                align-items: center;
            }
        
            &.description {
                height: 50%;
                font-family: 'Glacial Indifference Regular', Arial, sans-serif;
                font-size: 18px;
                align-items: center;
                margin-top: 20px;
            }
        }
    }

    .spacer {
        flex: 1;
    }
}